.language-item-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.language-item {

}

.selected-language-item {
  background-color: lightgreen;
}

.language-item-button {
  color: gray
}