.language-item-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.language-item {
  
}

.language-item:hover {
  background-color: lightgray;
}

.selected-language-item {
  background-color: lightgreen;
}

.language-item-button {
  color: gray
}