.topic-item-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.topic-item {

}

.topic-item:hover {
  background-color: lightgray;
}

.selected-topic-item {
  background-color: lightgreen;
}

.topic-item-button {
  color: gray
}